@charset "UTF-8";
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 0.28rem;
  color: #333;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  /* firefox */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-input-placeholder {
  font-size: 0.24rem;
}

ul, ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
  display: block;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clear {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*解决苹果手机 input 阴影问题*/
input{
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}